version: '3.8'
services:
  scrapyd:
    build: ../scrapyd
    ports:
      - 6800:6800
    volumes:
      - rates_value:/app/parser/result_for_web/
  rates_mts:
    build: ../rates_mts
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - rates_value:/app/parser/result_for_web/
    depends_on:
      - scrapyd
volumes:
  rates_value: